<html>
    <head>
        <title>新規作成</title>
    </head>
    <body>
        <h1>新規作成</h1>
            <form action="/tweets/create">
                <input type="text" name="entry" />
                <input type="submit" value="送信" />
            </form>
    </body>
</html>